html {
    font-family: Arial;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #BBBBBB;
    padding: 20px 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

nav li {
    margin: 0 0 0 15px;
    padding: 15px;
}

nav li:hover {
    transform: scale(1.2);
}

header input{
    padding: 8px;
    border-radius: 8px;
    padding-left: 30px;
}

.pesquisar {
    position: relative;
}

.pesquisar svg {
    position: absolute;
    display: flex;
    transform: translate(15%, 25%);
    top: 0;
    bottom: 0;
}

.perfil {
    display: flex;
    margin: 40px auto;
    width:70%;
}

.perfil img {
    width: 300px;
    margin-right: 40px;
    border-radius: 8px;
}

.texto {
    flex-direction: column;
}

.perfil h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.perfil h2 {
    font-size: 14px;
    margin-bottom: 130px;
}

.perfil h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.icons-sociais {
    display: flex;
}

.icons-sociais svg:hover {
    background-color: #BBBBBB;
    border-radius: 8px;
}


.icons-sociais svg {
    margin-right: 20px;
}

.projetos-header {
    display: flex;
    margin: 40px auto;
    width:70%;
    justify-content: space-between;
}

.projetos-header select {
    height: 45px;
    width: 230px;
    border-radius: 8px;
}

.card-projetos {
    margin: 30px auto;
    width:70%;
}

.card-projetos ul {
    display: flex;
}

.card-projetos li {
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.card-projetos img {
    width: 200px;
    height: 140px;
    margin-right: 50px;
    border-radius: 8px;
}

.adicionar-projeto {
    display: flex;
    margin: 30px auto;
    width:70%;
}

.adicionar-projeto button{
    display: flex;
    background-color: #BBBBBB;
    padding: 4px;
    border-radius: 8px;
    align-items: center;
}

.adicionar-projeto {
    position: relative;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.experiencia-header {
    display: flex;
    margin: 40px auto;
    width:70%;
}

.card-experiencia {
    display: flex;
    margin: 40px auto;
    width:70%;
}

.card-experiencia li{
    list-style: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #BBBBBB;
}

.card-experiencia img{
    width: 180px;
    border-radius: 8px;
    margin-right: 40px;
}

.card-experiencia h1{
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text h2 {
    font-size: 14px;
    margin-bottom: 15px;
}

.card-text h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.repostitórios {
    background-color: #BBBBBB;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.repostitórios ul {
    display: flex;
    margin: 0 auto;
    list-style: none;
    width:70%;
    justify-content: space-between;
}

.repostitórios li {
    width: 330px;
}

.repositorios-header {
    display: flex;
    width:70%;
    padding-top: 30px;
    margin: 40px auto;
}

.card-repositorios {
    display: flex;
    padding-right: 20px;
    align-items: flex-start;
}

.svg-border {
    padding: 15px;
    background-color:#CCCCCC;
    border-radius: 50%;
}

.repo-text {
    padding: 15px;
    width: 500px;
}

.repo-text h2{
    font-size: 20px;
    margin-bottom: 15px;
}

.repo-text h3 {
    font-size: 14px;
    margin-bottom: 15px;
}

.repo-text h4 {
    font-size: 16px;  
    margin-bottom: 15px;
}

.conteudo-header {
    display: flex;
    width:70%;
    padding-top: 30px;
    margin: 40px auto;
}

.card-conteudo {
    display: flex;
    padding-right: 20px;
    align-items: flex-start;
}

.card-conteudo ul {
    display: flex;
    margin: 0 auto;
    list-style: none;
    width:70%;
    justify-content: space-between;
}

.card-conteudo li {
    display: flex;
    flex-direction:column;
    width: 280px;
    height: 350px;
    justify-content: space-between;
}

.card-conteudo iframe {
    width: 280px;
    height: 180px;
    margin-right: 50px;
}

.card-conteudo p {
    margin-bottom: 15px;
}

footer {
    background-color: #BBBBBB;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

footer img {
    width: 100px;
    height: 100px;
    padding: 15px;
}

@media (max-width: 600px) {
    nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    header{
        flex-direction: column;
    }
    h1 {
        text-align: center;
    }
    .adicionar-projeto {
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        justify-content: center;
    }
    .container {
        justify-content: space-around;
        flex-wrap: wrap; 
    }
    .perfil {
        justify-content: space-around;
        flex-wrap: wrap;
        align-items:center;
        margin-bottom: 1rem;
    }
    .icon-img img {
        margin-right: 0px;
        margin-bottom: 1rem;
    }
    .texto h2 {
        margin: 0;
        text-align: center;
        margin-bottom: 1rem;
    }
    .texto h3 {
        text-align: center;
    }
    .icons-sociais {
        justify-content: center;
        align-items: center;
    }
    .projetos {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .projetos-header{
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        justify-content: center;
    }
    .projetos-header h1{
        margin-bottom: 1rem;
    }
    .card-projetos ul {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-bottom: 2rem;
        align-items:center;
        text-align: center;
        justify-content: center;
    }
    .card-projetos li{
        margin-bottom: 2rem;
    }
    .card-projetos img {
        justify-content: space-around;
        flex-wrap: wrap;
        margin-right: 0px;
        align-items:center;
        text-align: center;
        justify-content: center;
    }

    .experiencia-header{
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        justify-content: center;
    }
    .card-experiencia {
        flex-direction: column;
        text-align: center;
    }
    .card-experiencia img{
        margin-right: 0px;
        margin-bottom: 1rem;
    }
    .experiencia li{
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .repostitórios ul {
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    .conteudo ul{
        flex-wrap: wrap;
        margin-bottom: 1rem;
        align-items:center;
        text-align: center;
        justify-content: center;
    }
}